Repository SE701Team2/Updog, pull requests merged in 2022-03, with the labels that each got.

#6 Frontend Setup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/App.test.js
  frontend/src/Router.jsx
  frontend/src/app.module.scss
  frontend/src/components/layout/header/Header.jsx
  frontend/src/components/layout/header/header.module.scss
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/home.module.scss
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: front-end

#13 [#5] - Backend initial setup
  backend/.babelrc
  backend/.gitignore
  backend/.prettierrc
  backend/.sequelizerc
  backend/README.md
  backend/apidoc.json
  backend/config/config.js
  backend/config/database.js
  backend/database/migrations/create-posts.js
  backend/database/migrations/create-users.js
  backend/database/models/index.js
  backend/database/models/posts.js
  backend/database/models/users.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/server/controllers/index.js
  backend/server/controllers/test.js
  backend/server/controllers/user.js
  backend/server/index.js
  backend/server/routes/index.js
  backend/test/users.js
Labels: back-end

#8 Add PR template
  .github/pull_request_template.md
Labels: documentation, chore

#21 [#19] Fix yaml appearing in PR + consolidated checklist
  .github/pull_request_template.md
Labels: bug, documentation

#26 [#4] Open Source Repo Setup
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: documentation, dev-ops

#25 [#15] - Password functionality for user, including encryption and validation
  backend/README.md
  backend/database/migrations/create-posts.js
  backend/database/migrations/create-users.js
  backend/database/models/users.js
  backend/package-lock.json
  backend/package.json
  backend/server/controllers/index.js
  backend/server/controllers/testapi.js
  backend/server/controllers/user.js
  backend/server/routes/index.js
  backend/test/users.js
  backend/test/users.test.js
Labels: back-end

#18 [#12] Linter and code formatter setup
  .eslintrc.json
  .gitignore
  .prettierrc
  CONTRIBUTING.md
  backend/.prettierrc
  backend/package-lock.json
  backend/package.json
  frontend/package.json
  package-lock.json
  package.json
Labels: dev-ops

#27 [#14] - Authentication Functionality
  backend/README.md
  backend/database/migrations/create-posts.js
  backend/database/migrations/create-users.js
  backend/database/models/users.js
  backend/middlewares/authentication.js
  backend/package-lock.json
  backend/server/controllers/index.js
  backend/server/controllers/testapi.js
  backend/server/controllers/user.js
  backend/server/routes/index.js
  backend/test/authentication.test.js
  backend/test/users.test.js
Labels: back-end

#35 [#20] Validate Email
  backend/database/models/users.js
  backend/test/authentication.test.js
  backend/test/users.test.js
Labels: back-end

#38 [#29] - Posts CRUD endpoints
  backend/database/migrations/create-posts.js
  backend/database/models/posts.js
  backend/server/controllers/index.js
  backend/server/controllers/posts.js
  backend/server/routes/index.js
  backend/test/posts.test.js
Labels: feature, back-end

#31 [#32] - Add api request functions
  config.js
  frontend/src/functions/index.js
Labels: feature, front-end

#68 [#67] Removed use of secrets for DB login
  .github/workflows/run-backend-tests.yml
Labels: bug, dev-ops

#71 [#22] - Configured Husky + lint-staged
  .husky/pre-commit
  frontend/src/App.jsx
  package-lock.json
  package.json
Labels: feature, dev-ops

#55 [#43] - Add sign up page
  .eslintrc.json
  frontend/src/Router.jsx
  frontend/src/pages/registration/RegistrationPageView.jsx
  frontend/src/pages/registration/RegistrationPagesController.jsx
  frontend/src/pages/registration/registrationpage.module.scss
Labels: front-end

#74 [#52] - Posts DTO
  backend/database/migrations/associate-liked-post.js
  backend/database/migrations/associate-shared-post.js
  backend/database/migrations/create-posts.js
  backend/database/models/likedpost.js
  backend/database/models/posts.js
  backend/database/models/sharedpost.js
  backend/database/models/users.js
  backend/dto/posts.js
  backend/server/controllers/posts.js
  backend/test/posts.test.js
Labels: feature, back-end

#58 [#36] - Finalise User Model and Create UserDTO Class
  backend/database/migrations/create-followers.js
  backend/database/migrations/create-posts.js
  backend/database/migrations/create-users.js
  backend/database/models/followers.js
  backend/database/models/users.js
  backend/dto/users.js
  backend/server/controllers/user.js
  backend/test/users.test.js
Labels: back-end, bau

#81 [#79] - Bug fixes
  backend/database/migrations/create-users.js
  backend/server/controllers/user.js
  backend/server/routes/index.js
  backend/test/authentication.test.js
  backend/test/posts.test.js
  backend/test/users.test.js
Labels: back-end

#64 [#17] - Add Attachment functionality to Posts
  backend/__tests__/files/test_image.png
  backend/__tests__/posts.js
  backend/config/cloudstorage.js
  backend/database/migrations/create-attachments.js
  backend/database/models/attachments.js
  backend/package-lock.json
  backend/package.json
  backend/server/controllers/posts.js
  backend/updog-attachments-firebase-adminsdk-ygs6y-00f7d2000f.json
Labels: feature, back-end

#92 [#77] - Implement endpoints for sharing posts
  backend/__tests__/posts.js
  backend/database/migrations/associate-liked-post.js
  backend/database/migrations/associate-shared-post.js
  backend/server/controllers/posts.js
  backend/server/routes/index.js
Labels: back-end

#84 [#47] - Add user page
  frontend/src/Router.jsx
  frontend/src/components/user/profiledetails/ProfileUserDetailsController.jsx
  frontend/src/components/user/profiledetails/ProfileUserDetailsView.jsx
  frontend/src/components/user/profiledetails/profileuserdetails.module.scss
  frontend/src/pages/user/UserPageController.jsx
  frontend/src/pages/user/UserPageView.jsx
  frontend/src/pages/user/mock-data.js
  frontend/src/pages/user/userpage.module.scss
Labels: feature, front-end

#94 [#93] - Connect sign up to backend and refactor
  config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/config.js
  frontend/src/functions/index.js
  frontend/src/pages/registration/RegistrationPageView.jsx
  frontend/src/pages/registration/RegistrationPagesController.jsx
  frontend/src/pages/registration/registrationpage.module.scss
Labels: feature, front-end, optimisation

#96 [#57] - Implement endpoints for liking/unliking a post
  backend/__tests__/posts.js
  backend/server/controllers/posts.js
  backend/server/routes/index.js
Labels: feature, back-end

#103 [#102] - Landing and Authentication pages setup
  backend/package-lock.json
  frontend/src/App.jsx
  frontend/src/Router.jsx
  frontend/src/contexts/AuthProvider.js
  frontend/src/functions/validateEmail.js
  frontend/src/pages/landing/LandingController.jsx
  frontend/src/pages/landing/LandingView.jsx
  frontend/src/pages/landing/landing.module.scss
  frontend/src/pages/registration/RegistrationPagesController.jsx
  frontend/src/pages/signIn/SignInController.jsx
  frontend/src/pages/signIn/SignInView.jsx
  frontend/src/pages/signIn/signIn.module.scss
Labels: feature, front-end

#107 [#98] - Implemented GET /feed
  backend/__tests__/activity.js
  backend/__tests__/posts.js
  backend/__tests__/users.js
  backend/dto/posts.js
  backend/enums/activity.js
  backend/server/controllers/user.js
  backend/server/routes/index.js
Labels: feature, back-end

#97 [#46] - Added Feature dashboard
  frontend/src/Router.jsx
  frontend/src/pages/dashboard/DashboardPageController.jsx
  frontend/src/pages/dashboard/DashboardPageView.jsx
  frontend/src/pages/dashboard/dashboardpage.module.scss
  frontend/src/pages/dashboard/mock-dashboard-data.js
Labels: feature, front-end

#105 [#56] - Follow/unfollow endpoints
  backend/__tests__/posts.js
  backend/__tests__/users.js
  backend/database/migrations/associate-liked-post.js
  backend/database/migrations/associate-shared-post.js
  backend/dto/users.js
  backend/server/controllers/posts.js
  backend/server/controllers/user.js
  backend/server/routes/index.js
Labels: feature, back-end

#104 [#101] - Implement GET /users/:username/follow endpoint
  backend/__tests__/users.js
  backend/server/controllers/user.js
  backend/server/routes/index.js
Labels: feature, back-end

#114 [#70] Rework quick start guide
  CONTRIBUTING.md
  backend/README.md
  frontend/README.md
  readme-images/backend-mysql-test-connection-success.PNG
Labels: documentation, chore

#117 [#99] Fix Prettier tab indentation to Airbnb spec
  .prettierrc
Labels: bug, dev-ops, bau

#115 [#82] Added UPDATE and DELETE function for user endpoint
  backend/__tests__/users.js
  backend/server/controllers/user.js
  backend/server/routes/index.js
Labels: feature, back-end

#142 Add e2e testing framework
  .eslintrc.json
  frontend/README.md
  frontend/cypress.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/integration/landing_spec.js
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/index.js
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, dev-ops

#146 [#141] Added CI Lint checking for ESLint and Prettier
  .github/workflows/lint.yml
  CONTRIBUTING.md
Labels: enhancement, dev-ops

#172 [#169] Add timestamps to migration files
  backend/database/migrations/20220325074331-associate-liked-post.js
  backend/database/migrations/20220325074332-associate-shared-post.js
  backend/database/migrations/20220325074333-create-attachments.js
  backend/database/migrations/20220325074334-create-followers.js
  backend/database/migrations/20220325074335-create-posts.js
  backend/database/migrations/20220325074336-create-users.js
Labels: bug, back-end, urgent

#167 [#151] Feature: Category (and tag) component
  frontend/src/components/interests/category/Category.jsx
  frontend/src/components/interests/category/category.module.scss
  frontend/src/components/interests/tag/Tag.jsx
  frontend/src/components/interests/tag/tag.module.scss
  frontend/src/contexts/InterestsProvider.jsx
Labels: feature, front-end

#173 [#157] Add tags & postTags to database
  backend/__tests__/helper/helper.js
  backend/__tests__/posts.js
  backend/__tests__/tags.js
  backend/database/migrations/20220325083808-create-post-tag.js
  backend/database/migrations/20220325084122-create-tags.js
  backend/database/models/posttag.js
  backend/database/models/tags.js
  backend/package-lock.json
  backend/package.json
  backend/server/index.js
Labels: feature, back-end

#175 [#168] Fix backend port configuration
  frontend/src/config.js
Labels: bug, urgent

#176 [#159] banner popup
  frontend/.gitignore
  frontend/cypress/integration/BannerSettingController_spec.js
  frontend/src/components/user/BannerSetting/BannerSettingController.jsx
  frontend/src/components/user/BannerSetting/BannerSettingView.jsx
  frontend/src/components/user/BannerSetting/bannerSetting.module.scss
  frontend/src/pages/profileSettings/ProfileSettingsView.jsx
Labels: feature, front-end

#181 [#154] Implementing People Card (SearchUserDetails) Component
  frontend/src/components/button/followbutton/FollowButtonController.jsx
  frontend/src/components/button/followbutton/FollowButtonView.jsx
  frontend/src/components/button/followbutton/followbutton.module.scss
  frontend/src/components/user/searchdetails/SearchUserDetailsController.jsx
  frontend/src/components/user/searchdetails/SearchUserDetailsView.jsx
  frontend/src/components/user/searchdetails/searchuserdetails.module.scss
Labels: feature, front-end

#183 [#163] Implement Post input component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/posts/postinput/PostInputController.jsx
  frontend/src/components/posts/postinput/PostInputView.jsx
  frontend/src/components/posts/postinput/postinput.module.scss
  frontend/src/contexts/HandleProvider.jsx
  frontend/src/contexts/TagProvider.jsx
  frontend/src/index.jsx
  frontend/src/pages/postComposer/PostComposerController.jsx
  frontend/src/pages/postComposer/PostComposerView.jsx
  frontend/src/pages/postComposer/postComposer.module.scss
  frontend/src/styles/theme.scss
Labels: feature, front-end

#177 [#152] Implement Notification card
  frontend/src/components/notifications/notificationcard/NotificationCardController.jsx
  frontend/src/components/notifications/notificationcard/NotificationCardView.jsx
  frontend/src/components/notifications/notificationcard/notificationcard.module.scss
Labels: feature, front-end

#180 [#178] Added in createTag endpoint + test + swagger documentation
  backend/__tests__/tags.js
  backend/database/models/tags.js
  backend/dto/tags.js
  backend/server/controllers/index.js
  backend/server/controllers/tags.js
  backend/server/routes/index.js
  backend/specs/swagger.yaml
Labels: feature, back-end

#189 [#188] Add tags and handles to post view
  frontend/src/components/posts/post/PostController.jsx
  frontend/src/components/posts/post/PostView.jsx
  frontend/src/components/posts/post/post.module.scss
  frontend/src/components/posts/postinput/PostInputController.jsx
  frontend/src/components/posts/postinput/PostInputView.jsx
  frontend/src/functions/mentions.js
  frontend/src/pages/postComposer/PostComposerController.jsx
  frontend/src/pages/postComposer/PostComposerView.jsx
Labels: enhancement, feature, front-end

#182 [#164] Implement Search Bar component
  frontend/.gitignore
  frontend/src/Router.jsx
  frontend/src/components/search/searchbar/SearchBarController.jsx
  frontend/src/components/search/searchbar/SearchBarView.jsx
  frontend/src/components/search/searchbar/searchbar.module.scss
  frontend/src/pages/search/SearchPage.module.scss
  frontend/src/pages/search/SearchPageController.jsx
  frontend/src/pages/search/SearchPageView.jsx
Labels: feature, front-end

#191 [#184]Add getTags endpoint + tests + swagger documentation
  backend/__tests__/search.js
  backend/__tests__/tags.js
  backend/database/models/tags.js
  backend/dto/tags.js
  backend/server/controllers/tags.js
  backend/server/routes/index.js
  backend/specs/swagger.yaml
Labels: feature, back-end

#195 [#135] Created Loading Screen for the App
  frontend/src/Router.jsx
  frontend/src/pages/loading/LoadingController.jsx
  frontend/src/pages/loading/LoadingView.jsx
  frontend/src/pages/loading/loading.module.scss
Labels: feature, front-end, design

#186 [#155] Implement bio edit popup in user profile
  frontend/src/components/user/BioSetting/BioEditController.jsx
  frontend/src/components/user/BioSetting/BioEditView.jsx
  frontend/src/components/user/BioSetting/bioEdit.module.scss
  frontend/src/pages/profileSettings/ProfileSettingsView.jsx
Labels: feature, front-end

#193 [#162] Implement comment component
  frontend/src/components/posts/comment/CommentController.jsx
  frontend/src/components/posts/comment/CommentView.jsx
  frontend/src/components/posts/comment/comment.module.scss
  frontend/src/components/posts/interactions/InteractionsController.jsx
Labels: feature, front-end

#190 [#153] Implement Confirmation Popup Component
  frontend/src/components/popup/confirmation/ConfirmationPopUpController.jsx
  frontend/src/components/popup/confirmation/ConfirmationPopUpView.jsx
  frontend/src/components/popup/confirmation/confirmationPopUp.module.scss
Labels: feature, front-end

#196 [#170] Created an endpoint for submitting hashtags the user is interested in
  backend/__tests__/helper/helper.js
  backend/__tests__/interests.js
  backend/database/migrations/20220327101731-create-user-interests.js
  backend/database/models/userInterests.js
  backend/server/controllers/index.js
  backend/server/controllers/interests.js
  backend/server/routes/index.js
  backend/specs/swagger.yaml
Labels: feature, back-end, urgent

#194 [#160] Modify Notifications endpoint
  backend/__tests__/notifications.js
  backend/database/migrations/20220325074331-associate-liked-post.js
  backend/database/migrations/20220325074332-associate-shared-post.js
  backend/database/migrations/20220325074334-create-followers.js
  backend/database/migrations/20220325074335-create-posts.js
  backend/database/models/followers.js
  backend/database/models/likedpost.js
  backend/database/models/posts.js
  backend/database/models/sharedpost.js
  backend/enums/notifications.js
Labels: back-end

#198 [#179] Add postTags on post creation
  backend/__tests__/posts.js
  backend/__tests__/tags.js
  backend/database/migrations/20220325083808-create-post-tag.js
  backend/dto/tags.js
  backend/server/controllers/posts.js
  backend/server/controllers/tags.js
  backend/specs/swagger.yaml
Labels: enhancement, feature, back-end

#197 [#171] Create an endpoint to return a list of all the user handles
  backend/__tests__/interests.js
  backend/__tests__/users.js
  backend/dto/userHandle.js
  backend/server/controllers/user.js
  backend/server/routes/index.js
  backend/specs/swagger.yaml
Labels: feature, back-end, urgent

#205 Connected Loading Screen to the Other Pages
  frontend/src/pages/dashboard/DashboardPageController.jsx
  frontend/src/pages/follows/FollowsPageController.jsx
  frontend/src/pages/notifications/NotificationsPageController.jsx
  frontend/src/pages/post/PostPageController.jsx
  frontend/src/pages/postComposer/PostComposerController.jsx
  frontend/src/pages/profileSettings/ProfileSettingsController.jsx
  frontend/src/pages/search/SearchPageController.jsx
  frontend/src/pages/user/UserPageController.jsx
Labels: enhancement, front-end, chore

#219 [#158] Auth middleware
  backend/__tests__/users.js
  backend/middlewares/auth.js
  backend/server/controllers/interests.js
  backend/server/controllers/posts.js
  backend/server/controllers/tags.js
  backend/server/controllers/user.js
  backend/server/routes/index.js
Labels: enhancement, back-end
