Repository SE701Team2/Updog, pull requests merged in 2022-04, with the labels that each got.

#221 [#204] Case insensitive search
  backend/__tests__/search.js
  backend/server/controllers/search.js
Labels: enhancement, back-end

#212 [#166] Refactor activity endpoint
  backend/__tests__/activity.js
  backend/__tests__/users.js
  backend/enums/activity.js
  backend/server/controllers/user.js
  backend/specs/swagger.yaml
Labels: back-end, optimisation

#223 [#211] Setting page connection
  frontend/cypress/integration/SettingPage/BannerSetting.test.js
  frontend/cypress/integration/SettingPage/SettingPage.test.js
  frontend/src/components/user/BannerSetting/BannerSettingController.jsx
  frontend/src/components/user/BannerSetting/BannerSettingView.jsx
  frontend/src/components/user/BioSetting/BioEditController.jsx
  frontend/src/components/user/BioSetting/BioEditView.jsx
  frontend/src/pages/profileSettings/ProfileSettingsController.jsx
  frontend/src/pages/profileSettings/ProfileSettingsView.jsx
  frontend/src/pages/user/UserPageView.jsx
Labels: feature, front-end

#226 [#206] Implement and connect Search page
  backend/server/controllers/search.js
  frontend/cypress/integration/SearchPage/SearchPage.test.js
  frontend/cypress/support/commands.js
  frontend/src/App.jsx
  frontend/src/components/button/followbutton/FollowButtonView.jsx
  frontend/src/components/button/followbutton/followbutton.module.scss
  frontend/src/components/layout/navigation/NavigationBar.jsx
  frontend/src/components/search/searchbar/SearchBarView.jsx
  frontend/src/components/user/searchdetails/SearchUserDetailsController.jsx
  frontend/src/components/user/searchdetails/SearchUserDetailsView.jsx
  frontend/src/components/user/searchdetails/searchuserdetails.module.scss
  frontend/src/components/user/simpledetails/simpleuserdetails.module.scss
  frontend/src/hooks/useApi.js
  frontend/src/pages/dashboard/DashboardPageView.jsx
  frontend/src/pages/loading/loading.module.scss
  frontend/src/pages/postComposer/PostComposerView.jsx
  frontend/src/pages/search/SearchPage.module.scss
  frontend/src/pages/search/SearchPageController.jsx
  frontend/src/pages/search/SearchPageView.jsx
  frontend/src/pages/search/searchpage.module.scss
Labels: feature, front-end

#225 [#200] Implementing Notification list and Notification On-Click
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/notifications/notificationcard/NotificationCardController.jsx
  frontend/src/components/notifications/notificationcard/NotificationCardView.jsx
  frontend/src/components/notifications/notificationcard/notificationcard.module.scss
  frontend/src/pages/notifications/NotificationsPageController.jsx
Labels: feature, front-end

#227 [#203] Implement choose interests page
  frontend/cypress/integration/ChooseInterestsPage/ChooseInterestsPage.test.js
  frontend/src/Router.jsx
  frontend/src/components/interests/tag/Tag.jsx
  frontend/src/pages/chooseInterests/ChooseInterestsPageController.jsx
  frontend/src/pages/chooseInterests/ChooseInterestsPageView.jsx
  frontend/src/pages/chooseInterests/chooseinterestspage.module.scss
  frontend/src/pages/registration/RegistrationPagesController.jsx
Labels: feature, front-end

#229 [#222] Adding interest data
  backend/README.md
  backend/__tests__/tags.js
  backend/config/database.js
  backend/database/seeders/20220401095148-demo-tags.js
  backend/database/seeders/20220401095150-demo-users.js
  backend/database/seeders/20220401095154-demo-posts.js
  backend/database/seeders/20220401095208-demo-post-tags.js
  backend/server/controllers/posts.js
Labels: enhancement, back-end, urgent

#232 [#200] Restyle notifications to be responsive
  frontend/src/components/notifications/notificationcard/NotificationCardController.jsx
  frontend/src/components/notifications/notificationcard/NotificationCardView.jsx
  frontend/src/components/notifications/notificationcard/notificationcard.module.scss
  frontend/src/pages/notifications/NotificationsPageController.jsx
  frontend/src/pages/notifications/NotificationsPageView.jsx
  frontend/src/pages/notifications/notificationspage.module.scss
Labels: front-end, chore

#236 [#234] Add support to get comments from getActivity
  backend/__tests__/users.js
  backend/database/models/index.js
  backend/enums/activity.js
  frontend/src/components/notifications/notificationcard/NotificationCardController.jsx
  frontend/src/components/posts/comment/comment.module.scss
  frontend/src/components/posts/post/PostController.jsx
  frontend/src/components/posts/post/PostView.jsx
  frontend/src/components/posts/post/post.module.scss
Labels: bug, front-end

#233 [#201] Connect Frontend Post Comments with Backend
  .gitignore
  frontend/src/components/posts/comment/CommentController.jsx
  frontend/src/components/posts/post/post.module.scss
  frontend/src/contexts/AuthProvider.jsx
  frontend/src/contexts/HandleProvider.jsx
  frontend/src/contexts/TagProvider.jsx
  frontend/src/pages/postComposer/PostComposerController.jsx
Labels: bug, front-end

#238 [#207]Cypress Integration test for posting post page
  frontend/cypress/integration/PostingPage/PostingPage.test.js
Labels: front-end

#244 Profile setting fix
  frontend/cypress/integration/SettingPage/SettingPage.test.js
  frontend/src/pages/profileSettings/ProfileSettingsView.jsx
Labels: bug, front-end

#245 [#240] Edited Backend Readme file to have the correct port.
  backend/README.md
Labels: bug, back-end, chore

#247 [#246] Fix mention function in posting page
  frontend/cypress/integration/PostingPage/PostingPage.test.js
  frontend/src/contexts/HandleProvider.jsx
Labels: bug, front-end

#250 [#249] Minor changes to fix for demo
  backend/database/seeders/20220401095150-demo-users.js
  backend/database/seeders/20220401095154-demo-posts.js
  backend/database/seeders/20220401095220-demo-liked-post.js
  backend/database/seeders/20220401095226-demo-shared-post.js
  backend/enums/activity.js
  backend/package.json
  backend/server/controllers/user.js
  frontend/src/components/posts/comment/CommentController.jsx
  frontend/src/components/posts/interactions/InteractionsController.jsx
  frontend/src/components/posts/interactions/InteractionsView.jsx
  frontend/src/contexts/AuthProvider.jsx
  frontend/src/contexts/HandleProvider.jsx
  frontend/src/contexts/TagProvider.jsx
  frontend/src/pages/chooseInterests/ChooseInterestsPageController.jsx
  frontend/src/pages/notifications/notificationspage.module.scss
  frontend/src/pages/postComposer/PostComposerController.jsx
  frontend/src/pages/profileSettings/ProfileSettingsView.jsx
  frontend/src/pages/profileSettings/profilesettings.module.scss
  frontend/src/pages/registration/RegistrationPagesController.jsx
  frontend/src/pages/signIn/SignInController.jsx
Labels: bug, back-end, front-end
